.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background: rgb(34, 111, 84);
  background: linear-gradient(
    180deg,
    rgba(34, 111, 84, 1) 0%,
    rgba(34, 34, 34, 1) 65%
  );
}

/* --------------------------------HEADER CSS-------------------------- */

.header-cont {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cont h1 {
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

/* ------------------------HOME CSS----------------------- */
.home-container {
  width: 60%;
  margin: auto;
  padding-top: 2rem;
}

.form-container {
  display: flex;
  align-items: center;
}

.current-weather-cont {
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
}
